body {
    font-family: candara, helvetica, sans-serif;
    font-size: 1.2em;
}
#banner {
    background-image: url('images/HeaderBack.jpg');
    background-size: cover;
    width: 100%;
    height: 150px;
    color: #FFF;
    text-shadow: 2px 2px 3px #888;;
    padding:0px 10px;
    position: absolute;
    top:0px;
    left:0px;
}
#head {
    margin-top: 150px;
}
#footer {
    bottom:0px;
    padding: 10px;
    background-color: #EEE;
    position: sticky;
}
h3 {
    margin-bottom:2px;
    text-decoration: underline;
    background: rgb(0,2,46);
    background: linear-gradient(90deg, rgba(0,2,46,1) 0%, rgba(33,119,167,1) 2%, rgba(27,102,158,1) 53%, rgba(255,255,255,1) 100%); 
    border-radius: 7px;
    padding: 5px 22px;
    color: #FFF;
    text-shadow: 1px 1px 4px #333;
}
.twoCol {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.twoCol2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.colR {
    text-align: right;
}
#buttonbar {
    background: rgb(0,46,0);
    background: linear-gradient(0deg, rgba(0,46,0,1) 0%, rgba(9,121,26,1) 25%, rgba(9,121,26,1) 75%, rgba(0,46,0,1) 100%); 
    width:100%;
    margin-left:-10px;
    padding:10px;
}
#buttonbar   a {
    color: white;
    padding: 0px 15px;
}

.inner {
    text-align: center;
}
.floatRt {
    float: none;
}
.floatRt div {
    padding: 10px;
    float: none;
}
.btn {
    border: 1px solid #558;
    box-shadow: 1px 1px 3px #333;
    padding: 15px;
    border-radius: 8px;
    font-size: 1em;
    display: flex;
}
.btn:hover {
    cursor: pointer;
    background-color: #CCF;
}
.btn span {
    padding: 2px 9px 0px 9px;
    text-shadow: 1px 1px 1px #ccc;
}
.btnLink {
    text-decoration: none;
}
#merch:hover {
    cursor: pointer;
}

#privacy {
    position: fixed;
    bottom:10px;
    right:10px;
    z-index: 9;
}

@media (width > 700px) {
    .floatRt>img {
        float: right;
    }
    .inner button {
        margin: 30px;
    }
    #banner {
        height: 250px;
    }
    #head {
        margin-top: 250px;
    }
    .floatRt {
        float: right;
    }
  }


  @media (width < 980px) {
    .inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .twoCol2 {
        display: block;
    }
  }

  @media (width < 750px) {
    .twoCol {
        display: block;
    }
    .colR {
        text-align: left;
        border-top:1px solid black;
        padding-top:10px;
        margin-top:30px;
    }
    .inner {
        margin-bottom:15px;
    }
  }